[Unit]
Description=Home snapshot (rsync) timer.
RefuseManualStart=no
RefuseManualStop=no

[Timer]
#Execute job if it missed a run due to machine being off
Persistent=false
#Run 5 minutes after boot once
OnBootSec=300
#Run every 12 hours thereafter
OnUnitActiveSec=43200
Unit=home-snapshot.service

[Install]
WantedBy=timers.target
