[Unit]
Description=Home snapshot (rsync) timer.
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec=5min
OnUnitActiveSec=12h
Unit=home-snapshot.service

[Install]
WantedBy=timers.target
